body {
  padding: 30px;
}
.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1200px;
  grid-template-areas:
    "h h"
    "n c";
  border: 1px solid #000;

  width: 1200px;
  margin: 0 auto;
}

.profileInfo {
  border: 1px solid #000;
}
